<html >
<head >
    <title ><%= INTL_TITLE %></title >
    <meta charset="utf-8" >
    <meta id="meta-description"
          name="description"
          content="<%= INTL_META_DESCRIPTION %>" >
    <meta id="meta-tags"
          name="tags"
          content="<%= INTL_META_TAGS %>" >
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes" >
    <style >
        body {
            margin: 0px;
            background-color: rgb(128, 128, 128);
        }

        #canvas {
            width: 100%;
            height: 100%;
            margin: 0px;
            top: 0px;
            left: 0px;
            position: absolute;
        }
        #canvas :-webkit-full-screen {
            width: 100%;
            height: 100%;
        }
        .control {
            width: 100%;
            bottom: 0px;
            position: absolute;
        }

        .knob {
            position: absolute;
            z-index: 1;
            border-left: 2px solid red;
            border-top: 2px solid red;
            width: 10px;
            height: 10px;
        }

        .videocontainer {
            width: 50%;
            margin: 0px;
            right: 0px;
            z-index: 0;
            top: 0px;
            position: absolute;
        }

        .slider[type='range'] {
            width: 1000px;
        }
    </style >
</head >

<body >
<script >

    function fullscreen() {

        console.log('fullscreen clicked')
        var elem = document.getElementById("canvas");
        console.log('element is ', elem)

        if (elem.webkitRequestFullscreen) {
            elem.webkitRequestFullscreen();
        }



    }
</script >
<div class="control" >

    <input type="button"
           id="fullscreen_button"
           value="fullscreen"
           onclick="javascript:fullscreen()" >
    <p > topleftx</p ><input type="range"
                             class="slider"

                             id="topleft_x"
                             min="0"
                             max="10000"
                             value="0" >
    <p > toplefty</p ><input type="range"
                             class="slider"
                             id="topleft_y"
                             value="0"

                             min="0"
                             max="10000"
>
    </p >
    <p >
    <p >toprightx</p ><input type="range"
                             class="slider"
                             id="topright_x"
                             min="0"
                             max="10000"
                             value="5000" >
    <p >toprighty</p ><input type="range"
                             class="slider"
                             id="topright_y"
                             value="0"

                             min="0"
                             max="10000"
>

    </p >
    <p >
        <br /> bottomleftx<br /><input type="range"
                                       class="slider"
                                       id="bottomleft_x"
                                       min="0"
                                       max="10000"
                                       value="0" >
        bottomlefty<br /><input type="range"
                                class="slider"
                                id="bottomleft_y"
                                value="5000"

                                min="0"
                                max="10000"
    >
    </p >
    <p >
        <br /> bottomrightx<br /><input type="range"
                                        class="slider"
                                        id="bottomright_x"
                                        value="5000"
                                        min="0"
                                        max="10000"
    >
        bottomrighty<br /><input type="range"
                                 class="slider"
                                 id="bottomright_y"
                                 value="5000"

                                 min="0"
                                 max="10000"
    >
    </p >
</div >

<canvas id="canvas" ></canvas >
<div class="videocontainer"
     id="videocontainer" >
    <video id="video" >


    </video >
    <div class="knob"
         id="knob1" >
    </div >
    <div class="knob"
         id="knob2" >
    </div >
    <div class="knob"
         id="knob3" >
    </div >
    <div class="knob"
         id="knob4" >
    </div >
</div >
</div >

</body >

</html >
